# dependencies
/node_modules

# build output
/.next
/out
/build

# local environment
.env*.local
.vercel

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# editor
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/*.code-snippets
.history
.history/
*.vsix

# OS files
.DS_Store
._*
*.icloud
